<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">
    <title>TOM-MEDLOG GED</title>
    <style>
        .custom-card {
            width: 75%;
        }
        .profile-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <aside class="sidebar" style="background-color: rgb(49, 47, 47);">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">
            <div class="profile">
                <img src="/static/images/imgtra/images/logo.png" alt="Image" class="img-fluid">
            </div>

            <!-- Menu principal -->
            <div class="nav-menu folo">
                <ul>
                    <li class="accordion main-menu">

                            <span class="icon-home mr-3"></span>MENU PRINCIPAL

                    </li>
                </ul>
            </div>

            <div class="nav-menu">
                <ul>
                {% if util.direction == 'documentation' %}
                     <p></p>

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>DOCUMENTATION
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                   <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMENDES </a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATION</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                         {% endif %}
                 {% if util.direction == 'facturation' %}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseFacturation" aria-expanded="false" aria-controls="collapseFacturation" class="collapsible">
                            <span class="icon-file-text mr-3"></span>FACTURATION
                        </a>
                        <div id="collapseFacturation" class="collapse" aria-labelledby="headingFacturation">
                            <div>
                            <ul>
{#                                 CREER UTILISATEUR#}
{#                                <li>{{  util.direction }}</li>#}


                                            <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}"> MES DEMENDES </a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>
                       </ul>
                            </div>
                        </div>
                    </li>

                 {% endif %}


                    {% if util.direction == 'archive' %}

                        <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive" class="collapsible">
                            <span class="icon-archive mr-3"></span>ARCHIVE
                        </a>
                        <div id="collapseArchive" class="collapse" aria-labelledby="headingArchive">
                            <div>
                                <ul>

                                        <li><a href="/doc/liste_boite_cloture/{{ util.id_utilisateur }}">BOITES CLOTURÉES</a></li>
                                    <li><a href="/doc/liste_boite_classes/{{ util.id_utilisateur }}">BOITTES CLASSEES</a></li>

                                    <!--<li><a href="/doc/listedmd/{{ util.id_utilisateur }}">DEMANDES</a></li>-->
                                    <li><a href="/doc/listedemesddemande/{{ util.id_utilisateur }}">CONSULTATIONS</a></li>
                                    <li><a href="/doc/listedmd/{{ util.id_utilisateur }}">CONSULTATIONS</a></li>
                                         <!--<li><a href="./list_cartable_archiviste.html">LES CARTABLES CLOTURÉES</a></li>
                                          <li><a href="./list_cartable_archiviste.html">LES CARTABLES CLOTURÉES</a></li>
                                    <li><a href="/doc/listedmd/{{ util.id_utilisateur }}">DEMANDES</a></li>-->
                          </ul>

                            </div>
                        </div>

                    {% endif %}


                    </li>
                {% if util.direction == 'ADMIN' %}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseDocumentation" aria-expanded="false" aria-controls="collapseDocumentation" class="collapsible">
                            <span class="icon-book mr-3"></span>ADMINISTRATEUR
                        </a>
                        <div id="collapseDocumentation" class="collapse" aria-labelledby="headingDocumentation">
                            <div>
                                <ul>
                                    <li><a href="/doc/listechef/{{ util.id_utilisateur }}">CHEFS SERVICES</a></li>
                                    <!--<li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                 {% if util.direction == 'transfert'%}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>TRANSFERT
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                   <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçcues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                     {% endif %}


                {% if util.direction == 'management'  %}
                     <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                            <span  class="icon-file-text mr-3"></span>Management
                        </a>
                        <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                            <div>
                                <ul>
                                    <li><a href="/doc/listecartable/{{ util.id_utilisateur }}">CARTABLE</a></li>
                                <li><a href="/doc/liste_permission_manage/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçues</a></li>

                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}"> MES DEMENDES </a></li>


                                                 </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if util.direction == 'sacherie' %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                            <span  class="icon-file-text mr-3"></span>SACHERIE
                        </a>
                        <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">MES REQUETES  Reçues </a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                 {% endif %}
                {% if util.direction == 'comptabilite' %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseComptabilite" aria-expanded="false" aria-controls="collapseComptabilite" class="collapsible">
                            <span class="icon-calculator mr-3"></span>COMPTABILITÉ
                        </a>
                        <div id="collapseComptabilite" class="collapse" aria-labelledby="headingComptabilite">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçcues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMANDE</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}



                </ul>
            </div>
        </div>
    </aside>


    <main>
       <div class="header">
    <div class="header-content d-flex justify-content-between align-items-center py-3 px-4">
        <!-- Barre de recherche à gauche -->
        <div class="d-flex align-items-center" style="width: 75%;">
            <form class="form-inline my-2" style="width: 100%;">
                <input class="form-control mr-2 search-bar w-100" type="search" placeholder="Search" aria-label="Search">
            </form>
            <a href="list_demande.html" class="position-relative ml-2">
                <i class="fas fa-bell fa-lg" style="color: black;"></i>
            </a>
        </div>
        <div class="d-flex align-items-center">
            <div class="text-right text-white mr-3">
                <p class="mb-0">{{ util.nom }} {{ util.prenom }}</p>
                <p class="mb-0">{{ util.direction }}</p>
            </div>
            <img src="/static/images/imgtra/images/logo1.png" alt="Profile Image" class="rounded-circle profile-img" style="width: 40px; height: 40px;">
        </div>
    </div>
</div>
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card shadow custom-card mx-auto">
                            <div class="card-body p-4">
                                <form method="POST" action="" >
                                    <div class="text-center mb-4">
                                        <p style="color: #000; font-size: 25px;">Ajouter Utilisateur</p>
                                    </div>
                                    <!-- Prénom input -->
                                    <div class="form-group mb-4">
                                        <label for="prenom">Prénom</label>
                                        <input type="text" id="prenom" class="form-control form-control-lg" placeholder="Prénom" />
                                    </div>
                                    <!-- Nom input -->
                                    <div class="form-group mb-4">
                                        <label for="nom">Nom</label>
                                        <input type="text" id="nom" class="form-control form-control-lg" placeholder="Nom" />
                                    </div>
                                    <!-- Email input -->
                                    <div class="form-group mb-4">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control form-control-lg" placeholder="Email" />
                                    </div>
                                    <!-- Mot de passe input -->
                                    <div class="form-group mb-4">
                                        <label for="motdepasse">Mot de Passe</label>
                                        <input type="password" id="motdepasse" class="form-control form-control-lg" placeholder="Mot de Passe" />
                                    </div>
                                    <!-- Service input -->
                                    <div class="form-group mb-4">
                                        <label for="service">Service</label>
                                        <select id="service" class="form-control form-control-lg">
                                            <option name="direction "value="" disabled selected>Sélectionner un service</option>
                                            <option name="direction" value="service1">FACTURATION</option>
                                            <option name="direction" value="service2">COMPTABILITÉ</option>
                                            <option name="direction" value="service3">LOGISTIQUE</option>
                                            <option name="direction" value="service1">EXPORT</option>
                                            <option name="direction" value="service2">DOCUMENTATION</option>
                                            <option name="direction" value="service3">SACHERIE</option>
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-lg">Valider</button>
                                        <button type="reset" name="reset" class="btn btn-danger btn-lg ms-3" style="padding-left: 2.5rem; padding-right: 2.5rem;">Annuler</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/assets/js/jstra/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
</body>
</html>
