{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        function fetchMouvements() {
            $.ajax({
                url: "{% url 'liste_mouvements'  id_user=util.id_user %}",
                method: "GET",
                success: function(data) {
                    var tableBody = $('#mouvements-table tbody');
                    tableBody.empty();
                    data.forEach(function(mouvement_list) {
                         var statutText = '';
                            if (mouvement_list.statut_entree === 0) {
                                statutText = 'DECHARGE';
                            } else if (mouvement_list.statut_entree === 1) {
                                statutText = 'CHARGE';
                            }
                        var row = `
                            <tr>
                                <td>${statutText}</td>
                                 <td>${mouvement_list.mission}</td>
                                <td>${mouvement_list.camion.immatriculation}</td>
                                <td>${mouvement_list.permis}</td>
                                <td>${mouvement_list.remorque}</td>
                                <td>${mouvement_list.camion.transporteur}</td>
                                <td>${mouvement_list.chauffeur}</td>

                            </tr>`;
                        tableBody.append(row);
                    });
                }
            });
        }

        fetchMouvements();
        setInterval(fetchMouvements, 10000);
    });
</script>

  <div class="row">


    <!-- [ statistics year chart ] end
    <!--[social-media section] start-->
    <div class="col-md-6 col-xl-6"  id="myTable">
      <div class="card card-social">
        <div class="card-block border-bottom">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">

                <i class="fas fa-spinner fa-spin progress-icon text-primary f-36"></i>
            </div>
            <div class="col text-right">
              <h3>En Cours : {{ total_cours }}</h3>
              <!--<h5 class="text-c-green mb-0">{{ total_cours }} <span class="text-muted">Total</span></h5>-->
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row align-items-center justify-content-center card-active">

            <div class="col-6">
                <a href="/detail_urgent_sacherie/{{ util.id_user  }}" id="detailButton" class="detail-button">Détails</a>
              <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Urgences :</span>{{ urg }}</h6>
              <div class="progress">
                <div class="progress-bar progress-c-theme" role="progressbar" style="width:60%;height:6px;"
                  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>

              </div>
            </div>

            <div class="col-6">
                <a href="/detail_depassement_sacherie/{{ util.id_user  }}" id="detailButton1" class="detail-button1">Détails</a>
              <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Retards :</span>{{ dep }}</h6>
              <div class="progress">
                <div class="progress-bar progress-c-theme1" role="progressbar" style="width:45%;height:6px;color: red"
                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-6" id="mytable2">
      <div class="card card-social">
        <div class="card-block border-bottom">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <!--<i class="fab fa-twitter text-c-blue f-36"></i>-->
                <i class="fas fa-check finish-icon text-c-blue f-36"></i>
            </div>
            <div class="col text-right">
              <h3>Terminés : {{ total_ter }}</h3>
              <!--<h5 class="text-c-purple mb-0">20 <span class="text-muted">Total</span>-->
                  <!--<h5 class="text-c-green mb-0">{{ total_ter }} <span class="text-muted">Total</span></h5>-->
              </h5>
            </div>
          </div>
        </div>
        <div class="card-block" >
          <div class="row align-items-center justify-content-center card-active">
            <div class="col-6">
                <a href="/detail_moins_30_sacherie/{{ util.id_user  }}" id="detailButton2" class="detail-button2">Détails</a>
              <h6 class="text-center m-b-10"><span class="text-muted m-r-5"> Moins 30mn :</span>{{ lg_mois }} </h6>
              <div class="progress">
                <div class="progress-bar progress-c-green" role="progressbar" style="width:40%;height:6px;"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-6">
                <a href="/detail_plus_30_sacherie/{{ util.id_user  }}" id="detailButton3" class="detail-button3">Détails</a>
              <h6 class="text-center  m-b-10"><span class="text-muted m-r-5"> Plus 30mn:</span> {{ lg_30 }} </h6>
              <div class="progress">
                <div class="progress-bar progress-c-blue" role="progressbar" style="width:70%;height:6px;"
                  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  <div class="container ">
        <div class="table-responsive">
      <table  class="table table-hover" style="width: 100 %">
            <thead>
              <tr>
                <th>Camion</th>
                  <th>Mission</th>
                <!--<th>Date Entree</th>-->
                <th>Chrono</th>
                <th>Status</th>
                <th class="text-right"></th>
                  <th class="text-right"></th>
                  <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
            {% for mvt in mvt  %}
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;"
                      src="{% static 'assets/images/goodlogo.png' %}" alt="activity-user">{{ mvt.cam }}</h6>
                </td>
              <td>
                  <h6 class="m-0">{{ mvt.mission}}</h6>
                </td>
                <!--<td>
                  <h6 class="m-0">{{ mvt.date_entree }}</h6>
                </td>-->
                <td>
                  <h6 class="m-0">{{ mvt.chrono }} mns</h6>
                </td>
                <td>
                     {% if mvt.etat == 1 %}
                         <h6 class="m-0 text-c-green">En Attente</h6>
                  {% endif %}
                     {% if mvt.etat == 2 %}
                         <h6 class="m-0 text-c-yellow">Urgent</h6>
                  {% endif %}
                     {% if mvt.etat == 3 %}
                         <h6 class="m-0 text-c-red">Retard</h6>
                      {% endif %}


                </td>

                </td>
                  {% if mvt.etat == 1 %}
                      <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>

              {% endif %}
              {% if mvt.etat == 2 %}
                  <td class="text-right"><i class="fas fa-circle text-c-yellow f-10"></i>

              {% endif %}
              {% if mvt.etat == 3 %}
                  <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i>

              {% endif %}
              <!--1<td class="text-right">
                        <a href="#!" class="label theme-bg text-white f-12" data-toggle="modal" data-target="#myModal">Detail</a>

                    </td>-->
              </tr>
            {% endfor %}
            </tbody>
      </table>
  </div>
  </div>





          <!--

  [ Main Content ] end -->
   <script type="text/javascript">
        // Fonction pour rafraîchir la page
        function refreshPage() {
            location.reload();
        }

        // Définir un intervalle pour rafraîchir la page toutes les 30 secondes (30000 millisecondes)
        setInterval(refreshPage, 10000);
    </script>

{% endblock content %}